doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, maximum-scale=1, minimum-scale=1")
    title(Fizz — Tropical Tuesday at Brillobox tomorrow at 9)
    link(href="/style/screen.css", rel="stylesheet", type="text/css", media="screen")
    link(href="/style/print.css", rel="stylesheet", type="text/css", media="print")
    script(src="/scripts/jquery.js")
    script(src="/scripts/jquery.mobile.custom.min.js")
    script
      var user = !{JSON.stringify(user)};
      var accepted = #{accepted};
      var key = "#{key}";
    script(src="/scripts/client.js")
  body
    article
      header
        h2="hello "+user.name
        author= creator.name+" invited you to"
        h1=event.description
      
      section.rsvp
        if accepted
          h1 You are attending
        else
          h1 Click anywhere to join
      section.guestlist
        h1 Guestlist
        ul.interested
          each user in guestList
            li=user.name

        ul.noReply
          each user in noReply
            li=user.name
        
      
      
        //- form(action="/join", method="post")
        //-   p
        //-     input(type="text", name="first", placeholder="First")
        //-     input(type="text", name="last", placeholder="Last")
        //-   p
        //-     input(type="phone", name="number", placeholder="number")
        //- h1
        //-   | You’ve added yourself
        //-   br
        //-   | to the guestlist.
        //- p Fizz is the best way to get people together to do things.
        //- form(action="", method="post")
        //-   input(name="", type="button", value="Get it on the App Store")
        
      
    
  
