

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, maximum-scale=1, minimum-scale=1")
    title(Let’s — event.description)
    link(href="/style/screen.css", rel="stylesheet", type="text/css", media="screen")
    link(href="/style/print.css", rel="stylesheet", type="text/css", media="print")
    script(src="/scripts/jquery.js")
    script(src="/scripts/jquery.mobile.custom.min.js")
    script
      var user = !{JSON.stringify(user)};
      var accepted = #{accepted};
      var key = "#{key}";
    script(src="/scripts/client.js")
  body
    article
      header
        h1 Donec id elit non mi porta gravida at eget metus.        
        section.rsvp
          if accepted
            a(href="#") Leave
          else
            a(href="#") Join
      section.guestlist
        ul.interested
          li
            h1 Attending
          each user in guestList
            li=user.name
          li Cedrick Durfee
          li Oren Asay
          li Sid Bumbalough
          li Bernardina Ree
          li Jerrell Lehrer
          li Dorothea Hutter
          li Juliet Mattix
          li Orville Trunzo
          li Shawanda Gosse
          li Denice Lavigne
          li Idell Morace
        ul.noReply
          li
            h1 No response
          each user in noReply
            li=user.name
          li Cedrick Durfee
          li Oren Asay
          li Sid Bumbalough
          li Bernardina Ree
          li Jerrell Lehrer
          li Dorothea Hutter
          li Juliet Mattix
          li Orville Trunzo
          li Shawanda Gosse
          li Denice Lavigne
          li Idell Morace
      
        //- form(action="/join", method="post")
        //-   p
        //-     input(type="text", name="first", placeholder="First")
        //-     input(type="text", name="last", placeholder="Last")
        //-   p
        //-     input(type="phone", name="number", placeholder="number")
        //- h1
        //-   | You’ve added yourself
        //-   br
        //-   | to the guestlist.
        //- p Fizz is the best way to get people together to do things.
        //- form(action="", method="post")
        //-   input(name="", type="button", value="Get it on the App Store")
              
     div.modal
       h1 Thanks for RSVP-ing. Get the app to see messages and post your own events.
       a(href="#appStoreLinkDependingOnUserPlatform") Get the app
