

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, maximum-scale=1, minimum-scale=1")
    title(Let’s — event.description)
    link(href="/style/screen.css", rel="stylesheet", type="text/css", media="screen")
    link(href="/style/print.css", rel="stylesheet", type="text/css", media="print")
    script(src="/scripts/jquery.js")
    script(src="/scripts/jquery.mobile.custom.min.js")
    script
      var user = !{JSON.stringify(user)};
      var accepted = #{accepted};
      var key = "#{key}";
    script(src="/scripts/client.js")
  body
    article
      header
        h1 Donec id elit non mi porta gravida at eget metus
        section.rsvp
          if accepted
            a(href="#") Leave
          else
            a(href="#") Join
      section.guestlist
        ul#interested
          li
            h1 Attending
          each user in guestList
            li=user.name
        ul#noReply
          li
            h1 No response
          each user in noReply
            li=user.name
      
     div.modal
       h1 Thanks for RSVPing — Use the app to get updates and host your own events
       a(href="#appStoreLinkDependingOnUserPlatform") Get the app
